{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>Monitoramento IoT</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<h1>Leitura Atual</h1>     
<div class="cards">
    <div class="card" id="temp-card">
        <p class="label">🌡️ Temperatura</p>
        <p class="value" id="temperatura">-- °C</p>
        <p class="alert-text" id="temp-alert"></p>
    </div>

    <div class="card" id="ph-card">
        <p class="label">🧪 pH</p>
        <p class="value" id="ph">--</p>
        <p class="alert-text" id="ph-alert"></p>
    </div>

    <div class="card" id="tds-card">
        <p class="label">💧 TDS</p>
        <p class="value" id="tds">-- ppm</p>
        <p class="alert-text" id="tds-alert"></p>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
