<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitoramento IoT</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
  </head>
  <body>
    <p id="dados">Carregando...</p>

    <script>
      async function atualizar() {
        try {
          let resp = await fetch("/monitoramento/leituras/ultima/");
          let data = await resp.json();

          if (data.message) {
            document.getElementById("dados").innerText = data.message;
          } else {
            document.getElementById("dados").innerHTML = `
                <nav class="navbar">
                    <div class="logo">🐟 Sistema</div>
                    <ul class="nav-links">
                        <li><a href="duvidas.html">Monitoramento</a></li>
                        <li><a href="duvidas.html">Dúvidas (?)</a></li>
                    </ul>
                </nav>

                <h1>Leitura Atual</h1>     
                        <div class="cards">
                            <div class="card" id="temp-card">
                                <p class="label">🌡️ Temperatura</p>
                                <p class="value" id="temperatura">-- °C</p>
                                <p class="alert-text" id="temp-alert"></p>
                            </div>

                            <div class="card" id="ph-card">
                                <p class="label">🧪 pH</p>
                                <p class="value" id="ph">--</p>
                                <p class="alert-text" id="ph-alert"></p>
                            </div>

                            <div class="card" id="tds-card">
                                <p class="label">💧 TDS</p>
                                <p class="value" id="tds">-- ppm</p>
                                <p class="alert-text" id="tds-alert"></p>
                            </div>
                        </div>

`;
          }
        } catch (error) {
          document.getElementById("dados").innerText = "Erro ao buscar dados.";
        }
      }

      setInterval(atualizar, 300000); // atualiza a cada 5 minutos
      atualizar();
    </script>
    <script src="{% static 'js/dashboard.js' %}"></script>
  </body>
</html>
